html {
  font: normal 100%/1.5;
  font-family: "Noto Sans", sans-serif;
  color: #000;
}

i {
  font-family: "Noto Sans Japanese", sans-serif;
}

.nav a {
  color: #005e76;
  text-decoration: none;
  border-bottom: 2px solid #8bc9d9;
}

.nav a:hover {
  border-color: #0084a6;
}

.btn {
  color: #005e76;
  border: 2px solid #0084a6;
  border-radius: 2px;
  text-decoration: none;
}

.btn:hover {
  background-color: #8bc9d9;
}

nav li a:hover {
  color: #005e76;
}

hr {
  background-color: #e2e2e2;
}

@media only screen and (min-width: 60em) {


}
