html {
  font: normal 100%/1.5;
  font-family: "Noto Sans", sans-serif;
  color: #000;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

i {
  font-family: "Noto Sans Japanese", sans-serif;
}

nav ul {
  display: flex;
}

nav li a {
  color: #0084a6;
}

.btn {
  color: #0084a6;
  border: 2px solid #0084a6;
  border-radius: 2px;
  text-decoration: none;
}

.btn a:hover{
  color: #8bc9d9;
}

nav li a:hover {
  color: #005e76;
}

hr {
  background-color: #e2e2e2;
}

@media only screen and (min-width: 60em) {


}
