html {
  font: normal 100%/1.4;
  font-family: "Noto Sans", sans-serif;
  color: #000;
}

i {
  font-family: "Noto Sans Japanese", sans-serif;
}

.nav a {
  color: #005e76;
  border-bottom: 2px solid #8bc9d9;
  text-decoration: none;
}

.nav a:hover {
  border-color: #0084a6;
}

.btn {
  color: #005e76;
  border: 2px solid #0084a6;
  border-radius: 2px;
  text-decoration: none;
}

.btn-ghost {
  border: 2px solid #8bc9d9;
  color: #005e76;
}

.btn:hover {
  background-color: #8bc9d9;
}

nav li a:hover {
  color: #005e76;
  border-bottom: 2px solid #0084a6;
}

.logo {
  text-align: center;
}

.intro-box {
  border-bottom: .1em solid #e2e2e2;
  border-top: .1em solid #e2e2e2;
}

.btn-ghost:hover {
  background-color: #8bc9d9;
  border-color: #005e76;
  color: #000;
}

footer {
  border-top: .1em solid #e2e2e2;
  color: #666;
}

@media only screen and (min-width: 60em) {

  .logo {
    text-align: left;
  }

  .nav {
    text-align: right;
  }

}

.embed-item {
  min-height: 0%;
}

@media only screen and (min-width: 60em) {

  nav ul {
    text-align: right;
  }

  .wrapper {
    max-width: 65%;
  }

}
